# --- Airflow Core Config ---
# Official Airflow image and local project directory
AIRFLOW_IMAGE=apache/airflow:2.8.1-python3.11
AIRFLOW_PROJ_DIR=.
# Secret key for Airflow flask session encryption (Default Key)
AIRFLOW_SECRET_KEY=467473746c616e6465726973636f6f6c #generate_a_random_secret_key_here
# Default Airflow User ID (5000 is standard for the Airflow Docker image)
AIRFLOW_UID=5000

# --- Postgres (Metastore) Credentials ---
# Internal database for Airflow metadata
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

# --- Airflow Admin User ---
# Credentials to login at http://localhost:8080
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin

# --- Snowflake Credentials --- 
# Snowflake Account ID
# Standard: <account_locator>.<region>.<cloud> (e.g., xy12345.us-east-1)
# Enterprise/Org: <org_name>-<account_name> (e.g., GVTJKMN-DIP64567)
SF_ACCOUNT=your-account-identifier
SF_USER=your_username
SF_PASSWORD=your_password # Use single quotes if your password contains special characters
SF_ROLE=ACCOUNTADMIN
SF_WAREHOUSE=GENOMIC_WH
SF_DATABASE=GENOMIC_PROJECT
SF_SCHEMA=PRIMARY_DATA
SF_GOLD_LAYER=TERTIARY_DATA

# --- Optional: dbt Configuration ---
# Set to 'dev' for development, 'prod' for production
DBT_TARGET=dev
# Number of parallel threads for dbt execution
DBT_THREADS=4